.examples
  .examples__wrapper
    h2.visually-hidden
      | Примеры
    .examples__items
      a.examples__item(href='https://htmlacademy.ru/intensive/htmlcss')
        img(
          src='img/logo-htmlacademy.png'
          width='199'
          height='68'
          alt='Логотип сайта htmlacademy'
        )
      a.examples__item(href='#')
        img(
          src='img/logo-borodinski.png'
          width='209'
          height='87'
          alt='Логотип сайта borodinski'
        )
      a.examples__item(href='#')
        img(
          src='img/logo-pink.png'
          width='185'
          height='52'
          alt='Логотип сайта pink'
        )
      a.examples__item(href='#')
        img(
          src='img/logo-mishka.png'
          width='173'
          height='84'
          alt='Логотип сайта mishka'
        )
