section.services
  .services__wrapper
    h2.visually-hidden
      | Услуги
    .services__items
      .services__item
        .services__img-wrap
          img(
            src='img/services-1.png'
            width='300'
            height='146'
            alt='Веб-сайты'
          )
        h3.services__title
          | Веб-сайты
        p.services__desc
          | Мир никогда не будет прежним после того как увидит ваш сайт!
        a.services__btn.btn(href='#')
          | Заказать
      .services__item
        .services__img-wrap
          img(
            src='img/services-2.png'
            width='300'
            height='146'
            alt='Приложения'
          )
        h3.services__title
          | Приложения
        p.services__desc
          | Покорите топ-10 приложений в AppStore и Google Play
        a.services__btn.services__btn--green.btn(href='#')
          | Заказать
      .services__item
        .services__img-wrap
          img(
            src='img/services-3.png'
            width='300'
            height='146'
            alt='Презентации'
          )
        h3.services__title
          | Презентации
        p.services__desc
          | Вы даже не подозреваете, насколько вы изумительны!
        a.services__btn.services__btn--yellow.btn(href='#')
          | Заказать
