doctype html
html(lang='ru')
  include ../layouts/head.pug

  body
    header.page-header
      .page-header__wrapper
        a.page-header__logo(href='index.html')
          img(src='img/logo.png' width='160' height='65' alt='Логотип')
        nav.main-nav
          ul.main-nav__items.main-nav__items--main
            li.main-nav__item
              a.main-nav__link(href='#')
                | Студия
            li.main-nav__item
              a.main-nav__link(href='#')
                | Клиенты
            li.main-nav__item.main-nav__item--active
              a.main-nav__link
                | Магазин
            li.main-nav__item
              a.main-nav__link(href='#')
                | Контакты
          ul.main-nav__items.main-nav__items--user
            li.main-nav__item
              a.main-nav__link.main-nav__link--cart(href='#')
                | Корзина
    .catalog
      .catalog__header
        .catalog__header-wrap
          h2.catalog__title
            | Магазин готовых шаблонов
      .catalog__wrapper
        .catalog__col-left
          section.catalog__filters
            h3.visually-hidden
              | Фильтр
            form.catalog__filters-form.filters-form
              fieldset.filters-form__group
                legend.filters-form__title
                  | Стоимость:
                .filters-form__range-filter.range-filter
                  .range-filter__range-controls
                    .range-filter__scale
                      .range-filter__bar(style='width: 70%;')
                      .range-filter__toggle.range-filter__min-toggle
                      .range-filter__toggle.range-filter__max-toggle
                  .range-filter__price-controls
                    .range-filter__min-price
                      label(for='from')
                        | От
                      input(id='from' type='text' value='0')
                    .range-filter__max-price
                      label(for='to')
                        | До
                      input(id='to' type='text' value='15000')
              fieldset.filters-form__group
                legend.filters-form__title
                  | Сетка:
                .filters-form__list
                  .inputbox.inputbox--radio
                    input.inputbox__input(
                      type='radio'
                      id='adaptive'
                      name='grid'
                      checked
                    )
                    label.inputbox__label(for='adaptive')
                      | Адаптивная
                  .inputbox.inputbox--radio
                    input.inputbox__input(
                      type='radio'
                      id='fixed'
                      name='grid'
                    )
                    label.inputbox__label(for='fixed')
                      | Фиксированная
                  .inputbox.inputbox--radio
                    input.inputbox__input(
                      type='radio'
                      id='fluid'
                      name='grid'
                    )
                    label.inputbox__label(for='fluid')
                      | Резиновая
              fieldset.filters-form__group
                legend.filters-form__title
                  | Особенности:
                .filters-form__list
                  .inputbox.inputbox--check
                    input.inputbox__input(
                      type='checkbox'
                      id='slider'
                      checked
                    )
                    label.inputbox__label(for='slider')
                      | Слайдер
                  .inputbox.inputbox--check
                    input.inputbox__input(
                      type='checkbox'
                      id='advantages'
                    )
                    label.inputbox__label(for='advantages')
                      | Блок преимуществ
                  .inputbox.inputbox--check
                    input.inputbox__input(
                      type='checkbox'
                      id='news'
                      checked
                    )
                    label.inputbox__label(for='news')
                      | Новости
                  .inputbox.inputbox--check
                    input.inputbox__input(
                      type='checkbox'
                      id='gallery'
                    )
                    label.inputbox__label(for='gallery')
                      | Галерея
                  .inputbox.inputbox--check
                    input.inputbox__input(
                      type='checkbox'
                      id='cart'
                    )
                    label.inputbox__label(for='cart')
                      | Корзина
              button.filters-form__submit.btn.btn--gray(type='submit')
                | Показать
        .catalog__col-right
          section.catalog__sorting
            h3.catalog__legend
              | Сортировать:
            ul.sorting-menu
              li.sorting-menu__item.sorting-menu__item--active
                a.sorting-menu__btn
                  | По цене
              li.sorting-menu__item
                a.sorting-menu__btn(href='#')
                  | По типу
              li.sorting-menu__item
                a.sorting-menu__btn(href='#')
                  | По названию
            ul.order-menu
              li.order-menu__item.order-menu__item--active
                a.order-menu__btn.order-menu__btn--down
                  | Обратный порядок
              li.order-menu__item
                a.order-menu__btn.order-menu__btn--up(href='#')
                  | Прямой порядок
          .catalog__items
            .catalog__item
              .catalog__item-img-wrapper
                img(
                  src='img/site-sedona.jpg'
                  width='360'
                  height='576'
                  alt='Sedona'
                )
              .catalog__item-content
                h4.catalog__item-title
                  a(href='#')
                    | Sedona
                p.catalog__item-desc
                  | Информационный сайт для туристов
                button.catalog__buy-btn.btn(type='button')
                  | 9900 руб.
            .catalog__item
              .catalog__item-img-wrapper
                img(
                  src='img/site-pink.jpg'
                  width='360'
                  height='576'
                  alt='Pink app'
                )
              .catalog__item-content
                h4.catalog__item-title
                  a(href='#')
                    | Pink app
                p.catalog__item-desc
                  | Продуктовый лендинг приложения для iOS и Android
                button.catalog__buy-btn.btn(type='button')
                  | 9900 руб.
            .catalog__item
              .catalog__item-img-wrapper
                img(
                  src='img/site-barbershop.jpg'
                  width='360'
                  height='576'
                  alt='Barbershop'
                )
              .catalog__item-content
                h4.catalog__item-title
                  a(href='#')
                    | Barbershop
                p.catalog__item-desc
                  | Сайт салоны красоты. Для мужчин, да.
                button.catalog__buy-btn.btn(type='button')
                  | 9900 руб.
            .catalog__item
              .catalog__item-img-wrapper
                img(
                  src='img/site-mishka.jpg'
                  width='360'
                  height='576'
                  alt='Mishka'
                )
              .catalog__item-content
                h4.catalog__item-title
                  a(href='#')
                    | Mishka
                p.catalog__item-desc
                  | Интернет-магазин вязаных игрушек
                button.catalog__buy-btn.btn(type='button')
                  | 9900 руб.
            .catalog__item
              .catalog__item-img-wrapper
                img(
                  src='img/site-aplus.jpg'
                  width='360'
                  height='576'
                  alt='A plus'
                )
              .catalog__item-content
                h4.catalog__item-title
                  a(href='#')
                    | A plus
                p.catalog__item-desc
                  | Лендинг курсов повышения квалификации
                button.catalog__buy-btn.btn(type='button')
                  | 9900 руб.
            .catalog__item
              .catalog__item-img-wrapper
                img(
                  src='img/site-kvast.jpg'
                  width='360'
                  height='576'
                  alt='Кваст'
                )
              .catalog__item-content
                h4.catalog__item-title
                  a(href='#')
                    | Кваст
                p.catalog__item-desc
                  | Промо-сайт производителя крафтового кваса
                button.catalog__buy-btn.btn(type='button')
                  | 9900 руб.
          .catalog__nav.catalog-nav
            ul.catalog-nav__items
              li.catalog-nav__item.catalog-nav__item--active
                a.catalog-nav__btn.btn.btn--gray
                  | 1
              li.catalog-nav__item
                a.catalog-nav__btn.btn.btn--gray
                  | 2
              li.catalog-nav__item
                a.catalog-nav__btn.btn.btn--gray(href='#')
                  | 3
            a.catalog-nav__next.btn.btn--gray(href='#')
              | Следующая
    include ../blocks/contacts.pug

    include ../layouts/footer.pug
    script(src='js/concatenated.min.js')
